[2019-03-25 18:37] germonprez opened #1 "Help setting things up"
@Nebrethar could you help with this repo?

[2019-03-25 18:39] GeorgLink opened #2 "Require DCO for commits"
As this is a new repository, I activated the [protobot/dco](https://github.com/apps/dco) bot to check that all commits have a sign-off. The CHAOSS Project Charter requires that all contributions are signed-off.

For users of the git command line interface, a sign-off is accomplished with the `-s` as part of the commit command: `git commit -s -m 'This is a commit message'`

For users of the GitHub

[2019-03-25 20:06] Nebrethar commented on #1
Sure can. I'm working on core docs now.

[2019-03-25 20:18] Nebrethar opened #3 "License Selection"
What license do we plan to use for this repo? I noticed D&I uses GPL and GMD has MIT license

[2019-03-25 20:20] Nebrethar commented on #2
Requested via Probot for this repo

[2019-03-25 20:40] germonprez commented on #3
I would suspect MIT based on the Charter as this will be documents

[2019-03-26 16:32] Nebrethar commented on #3
Thanks for the input. MIT is proposed in a PR

[2019-03-26 19:54] GeorgLink commented on #3
Yes, [CHAOSS Charter section 8.2.3](https://chaoss.community/about/charter/#user-content-8-intellectual-property-policy) requires MIT for metrics.

[2019-06-24 14:00] GeorgLink opened #13 "Add GrimoireLab Visualization to License Metrics"
We started discussing in #12 that GrimoireLab is currently implementing new visualizations for license information.

This issue is for adding information to the License metrics about how to find the license information in GrimoireLab (see [example for what this could look like in the Evolution WG](https://github.com/chaoss/wg-evolution/blob/master/metrics/Code_Changes_Lines.md#known-implementation

[2019-06-24 14:22] valeriocos commented on #13
Perfect @GeorgLink!

[2019-06-24 18:36] klumb opened #15 "Candidate Release Comments (Elephant Factor)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about Elephant Factor

GitHub location: https://github.com/chaoss/wg-risk/blob/master/metrics/Elephant_Factor.md

Release candidate: https://chaoss.community/metric-elephant-factor

See all release candidates of metrics are at:
https://chaoss.community/metrics-rc/

Important Dates

Release F

[2019-06-24 18:39] klumb opened #16 "Candidate Release Comments (Committers)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about Committers

GitHub location: https://github.com/chaoss/wg-risk/blob/master/metrics/Committers.md

Release candidate: https://chaoss.community/metric-committers

See all release candidates of metrics are at:
https://chaoss.community/metrics-rc/

Important Dates

Release Freeze: June 21s

[2019-06-24 18:41] klumb opened #17 "Candidate Release Comments (License Count)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about License Count

GitHub location: https://github.com/chaoss/wg-risk/blob/master/metrics/License_Count.md

Release candidate: https://chaoss.community/metric-license-count

See all release candidates of metrics are at:
https://chaoss.community/metrics-rc/

Important Dates

Release Freeze:

[2019-06-24 18:42] klumb opened #18 "Candidate Release Comments (License Coverage)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about License Coverage

GitHub location: https://github.com/chaoss/wg-risk/blob/master/metrics/License_Coverage.md

Release candidate: https://chaoss.community/metric-license-coverage

See all release candidates of metrics are at:
https://chaoss.community/metrics-rc/

Important Dates

Releas

[2019-06-24 18:43] klumb opened #19 "Candidate Release Comments (License Declared)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about License Declared

GitHub location: https://github.com/chaoss/wg-risk/blob/master/metrics/License_Declared.md

Release candidate: https://chaoss.community/metric-license-declared

See all release candidates of metrics are at:
https://chaoss.community/metrics-rc/

Important Dates

Releas

[2019-06-24 18:45] klumb opened #20 "Candidate Release Comments (Bill of Materials)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about Bill of Materials

GitHub location: https://github.com/chaoss/wg-risk/blob/master/metrics/Software_Bill_of_Materials.md

Release candidate: https://chaoss.community/metric-bill-of-materials

See all release candidates of metrics are at:
https://chaoss.community/metrics-rc/

Important D

[2019-06-24 18:57] klumb opened #21 "Metrics Candidate Release tag"
@sgoggins

Please create a "Metrics Candidate Release" tag that matches the wording and color from the other work groups.

Here is an example:
https://github.com/chaoss/wg-evolution/issues/189

[2019-06-24 20:43] klumb opened #23 "Candidate Release Comments (Test Coverage)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about Test Coverage

GitHub location: https://github.com/chaoss/wg-risk/blob/master/metrics/Test_Coverage.md

Release candidate: https://chaoss.community/metric-test-coverage

See all release candidates of metrics are at:
https://chaoss.community/metrics-rc/

Important Dates

Release Freeze:

[2019-06-25 20:24] GeorgLink commented on #21
Done. Label created: https://github.com/chaoss/wg-risk/labels/Metrics%20Candidate%20Release

[2019-06-25 20:24] #21 closed

[2019-06-25 20:25] klumb commented on #21
Thanks

[2019-06-26 23:04] GeorgLink opened #25 "Add GrimoireLab known implementation details to Business Risk metrics"
This issue is about adding more description to the two Business Risk metrics that will be included in the release:

* Elephant Factor
* Committers

I think that GrimoireLab provides these metrics and it would be great to describe under the section Known Implementations in each metric, how exactly to get the metric within GrimoireLab. I'm thinking a similar description to what we included in the Ev

[2019-06-27 07:24] alpgarcia commented on #25
About the `Elephant Factor`, we do not have it as a number. What we have are pie charts showing commits by organization. You need to manually calculate the number, e.g.:

![donut-ors-hover](https://user-images.githubusercontent.com/3502941/60244577-f697e700-98ba-11e9-836b-3d9ac31deca4.png)
From: https://chaoss.biterg.io/app/kibana#/dashboard/Overview

If we parametrize the elephant factor for Git

[2019-07-01 18:14] sgoggins commented on #15
@GeorgLink : We could use a higher resolution image for the Elephant Factor graphic in risk metrics.  We are using a Bitergia example and its a little low resolution.

[2019-07-01 18:27] sgoggins commented on #23
The metric definition would benefit from examples using a few projects to illustrate test coverage metrics. So, run test coverage tools on 2-3 projects and illustrate the output.

[2019-07-02 20:27] germonprez commented on #18
@Nebrethar could you fix some of the image and font sizing on this? It is not consistent.

[2019-07-09 11:11] germonprez commented on #15
A few clunky sentences:

For example, one common filter is to say the elephant factor is to say 50% of the commits are performed by n companies and that is the elephant factor.

A company evaluating open source software products might use an elephant factor to compare how dependent each projects is on a small set of corporate contributors.

[2019-07-09 11:16] germonprez commented on #16
LGTM. Nicely done.

[2019-07-09 11:18] germonprez commented on #23
This should be rewritten as a statement: How much of a given code base is covered by at least one test suite.

[2019-07-09 12:09] germonprez commented on #17
This:

This metric will illustrate quickly and visible if there is one license or more than one; and the larger the number, the more complex the considerations grow for decision makers.

Should be:

This metric will illustrate quickly and visibly if there is one license or more than one; and the larger the number, the more complex the considerations grow for decision makers.

[2019-07-09 12:30] germonprez commented on #18
The images for this are still really big. Could they be sized down?

[2019-07-09 12:32] germonprez commented on #19
For the SQL, should it be 'license declared' and not 'license concluded'? In SPDX, the former is what is used for the machine (i.e., nomos) identification of licenses.

[2019-07-09 12:34] germonprez commented on #18
Further on this. I think that

1) What is in Sample Filter/Visualization should be moved to Sample Implementation
2) What is in Sample Implementation should be moved to Formula
3) Sample Filter/Visualization should contain:

Time: Licenses declared in a repository can change over time as the dependencies of the repository change. One of the principle motivations for tracking license presence, asid

[2019-07-09 12:37] germonprez commented on #20
Remove text in Test Cases

[2019-07-09 19:39] foundjem commented on #15
Stackalytics[1] also implement this metric. Also, it is important if we can talk about join collaboration here. For example git has the co-authored-by trailer, etc.

1. https://www.stackalytics.com/

[2019-07-09 19:41] foundjem commented on #16
Looks good to me.

[2019-07-09 19:47] foundjem commented on #23
A good test courage might control for code quality, moreover, a machine learning model can be trained  to suggest areas that need more coverage.

[2019-07-11 14:12] inishchith commented on #13
Hi @GeorgLink,
We had started working on License related metrics some time ago. (as you might be aware of through the blog posts) and now are continuously looking for additions and improvements to it. You can find a list of ideas and mock visualizations at https://github.com/inishchith/gsoc-graal/issues/14. and the first iteration of the dashboard can be found at [CoLic-Dashboard](https://grimoire

[2019-07-11 14:48] GeorgLink commented on #13
Thanks for the heads up. I'll take a look.

[2019-07-15 15:46] Nebrethar commented on #18
PR opened for image resize. I also rearranged the sections as you stated.

[2019-07-15 18:07] sgoggins commented on #20
We will update the DOSOCSv2 source repository with @Nebrethar 's updates prior to release.

[2019-07-15 18:08] sgoggins commented on #20
NTIA SBOM should be added as a reference.

[2019-07-15 18:09] sgoggins commented on #19
@germonprez : I will verify that with @Nebrethar ... when i looked at what is getting populated I thought "concluded" was more clear ...

[2019-07-15 18:19] Nebrethar commented on #16
"number of committers = distinct contributor ids over a time period" under Formula:

Quick request for more description on this formula (how it is presented).

[2019-07-29 18:36] #18 closed

[2019-07-29 18:36] klumb commented on #18
fixed

[2019-07-29 18:53] #16 closed

[2019-07-29 19:21] klumb commented on #25
@GeorgLink do you want this added to the upcoming release?

[2019-07-29 19:53] GeorgLink commented on #25
Thanks for the ping. I'll create a pull request later today

[2019-07-30 02:10] GeorgLink commented on #25
@klumb I created two pr's, one for each metric: #40 and #41

[2019-07-30 16:22] #23 closed

[2019-07-30 16:23] #25 closed

[2019-08-02 18:27] klumb opened #42 "Copy editing and standardizing release"
Elephant Factor - removed "to be done" on reference implementation

general edits made -

moved formula into Description to standardize release across wg

merging examples with known implementations

[2019-08-02 18:27] klumb commented on #42
Removed numbers from headers

[2019-08-02 19:00] klumb commented on #42
To be clear, these changes were made by Matt and myself.

I created the issue for transparency purposes.

[2019-08-05 20:22] GeorgLink commented on #15
The comment period has ended. Changes have been made. Closing issue.

[2019-08-05 20:22] #15 closed

[2019-08-05 20:22] GeorgLink commented on #20
The comment period has ended. Changes have been made. Closing issue.

[2019-08-05 20:22] #20 closed

[2019-08-05 20:27] GeorgLink commented on #19
The comment period has ended. Changes have been made. Closing issue.

[2019-08-05 20:27] #19 closed

[2019-08-24 23:54] tghastings opened #43 "Next Meeting?"
Hi all,
Is the next meeting on August 26?

[2019-08-25 12:09] germonprez commented on #43
Hi @tghastings -- Yes, the next meeting is planned for Monday, August 26th. Connection information here:

https://chaoss.community/participate/

[2019-08-25 15:20] tghastings commented on #43
Thanks!

[2019-08-25 15:20] #43 closed

[2019-09-26 19:24] GeorgLink opened #45 "Add README to focus-area folder"
It would be great to have a README in the [focus-area folder](https://github.com/chaoss/wg-risk/tree/master/focus-areas) for better navigation and to show the goals of each focus area.

This is what it looks like in the D&I Working Group:
https://github.com/chaoss/wg-diversity-inclusion/tree/master/focus-areas

[2019-10-05 19:18] vchrombie commented on #45
Can I take up this?

[2019-10-06 12:14] germonprez commented on #45
Certainly. Thanks @vchrombie

[2019-10-10 16:15] alpgarcia opened #46 "Wrong formula for Elephant Factor?"
Looking at the description of this metric I'd say the formula is not correct.

https://github.com/chaoss/wg-risk/blob/e7cea7034d65c65a3658d16a434b9868e52b2306/metrics/Elephant_Factor.md#L5-L9

https://github.com/chaoss/wg-risk/blob/e7cea7034d65c65a3658d16a434b9868e52b2306/metrics/Elephant_Factor.md#L10-L22

As far as I understand, the description is correct while the formula is calculating a diffe

[2019-10-22 22:49] germonprez opened #50 "Repo Linter"
This is certainly worth checking out with respect to the Risk category:

https://github.com/todogroup/repolinter

[2019-10-22 22:51] agallo70 opened #51 "New Metric: open governance"
Having a true open governance is very important for a successfull open source project. If there are few gatekeepers who accept commits from a very small number of contributors, this is not really a true open source project, it is rather a (free) source code project. "Open governance" is an important "label" to stick to a project.

While it is hard to automatically determine if there is a true open

[2019-10-22 22:51] GeorgLink opened #52 "[Risk] Package Phobia"
For the Risk Workgroup,

Maybe this tool has some ideas for risk metrics. It calculates the impact (risk) or adding a package to your open source project. They seem to have figured out a way to calculate that, which might be interesting to us.

https://github.com/styfle/packagephobia

[2019-10-22 22:55] david-a-wheeler opened #53 "New issue: Security vulnerability resolution Duration"
The "Closed Issue Resolution Duration" covers all issues, but is a little misleading.  I routinely leave issues open for *years* if they are low importance, yet are nice-to-have - but that doesn't mean that the project is dead.  What's missing is prioritization - if something is really important, then it should be resolved relatively quickly.

I propose "Security vulnerability resolution Duration"

[2019-10-23 14:33] GeorgLink commented on #53
I think we can solve this issue with a "filter" ... assuming that issues are tagged or otherwise identified by their "priority" or "security relatedness".

[2019-11-04 19:35] #45 closed

[2019-12-10 14:58] GeorgLink opened #64 "Create PR for SPDX Document (was: Bill of Materials)"
This issue is for taking the content from

and creating a pull request to add it to the repository.

This will involve updating links from the focus areas to the metric but don't worry, we'll help through feedback on the pull request.

[2019-12-10 15:05] GeorgLink opened #65 "Check if previously released metrics are ready for next release"
The [metric tracking sheet](https://docs.google.com/spreadsheets/d/1tAGzUiZ9jdORKCnoDQJkOU8tQsZDCZVjcWqXYOSAFmE/edit#gid=605223194) has previously released Risk metrics marked green.

This issue is for going through each metric and making sure that it is ready for release or creating a pull request to make necessary changes.

For each green metric in the [metric tracking sheet](https://docs.google

[2019-12-16 16:36] GeorgLink opened #72 "License Clarity metric from ClearlyDefined"
The ClearlyDefined project defined a "License Clarity" metric, that we can incorporate in CHAOSS.

https://github.com/clearlydefined/license-score/blob/master/ClearlyLicensedMetrics.md

I would not copy this design page 1-to-1, but create a short summary to be included in CHAOSS and then link for the implementation details to ClearlyDefined.

[2019-12-30 17:57] germonprez opened #73 "Release Candidate Comments (Committers)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about Committers**

GitHub location: https://github.com/chaoss/wg-risk/blob/master/metrics/Committers.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 17:59] germonprez opened #74 "Release Candidate Comments (Elephant Factor)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about Elephant Factor**

GitHub location: https://github.com/chaoss/wg-risk/blob/master/metrics/Elephant_Factor.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 18:00] germonprez opened #75 "Release Candidate Comments (Test Coverage)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about Test Coverage**

GitHub location: https://github.com/chaoss/wg-risk/blob/master/metrics/Test_Coverage.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 18:00] germonprez opened #76 "Release Candidate Comments (License Count)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about License Count**

GitHub location: https://github.com/chaoss/wg-risk/blob/master/metrics/License_Count.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 18:02] germonprez opened #77 "Release Candidate Comments (License Coverage)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about License Coverage**

GitHub location: https://github.com/chaoss/wg-risk/blob/master/metrics/License_Coverage.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 18:03] germonprez opened #78 "Release Candidate Comments (License Declared)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about License Declared**

GitHub location: https://github.com/chaoss/wg-risk/blob/master/metrics/License_Declared.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 18:04] germonprez opened #79 "Release Candidate Comments (OSI Approved LIcenses)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about OSI Approved Licenses**

GitHub location: https://github.com/chaoss/wg-risk/blob/master/metrics/OSI_Approved_Licenses.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 18:05] germonprez opened #80 "Release Candidate Comments (CII Best Practices Badge)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about CII Best Practices Badge**

GitHub location: https://github.com/chaoss/wg-risk/blob/master/metrics/CII_Best_Practices.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2020-01-01 17:42] tommens commented on #75
The section "Objectives" for this "Test Coverage" metric seems out of place. Its description does not really explain the objectives of the metric. It is very different in style and contents compared to the Objectives sections of the other metrics in the 202001 metrics release.
I would expect to see something along the following lines:
"The objective of the Test Coverage metric is to quantitatively

[2020-01-04 08:06] germonprez commented on #75
Thanks @tommens. The objectives sure do seem off :)

@sgoggins could you take a look and see if something was not copied over correctly from the Google doc. If that's not the issue, what do you think of the proposed change?

[2020-01-09 17:03] klumb opened #81 "Release Notes (risk)"
Please leave comments and notes here to help construct the release notes document.

[2020-01-09 18:54] bproffitt commented on #73
In paragraph 1 of "Description," "This is distinct from the more broadly construed "Contributors" CHAOSS metric.." Contributors should be linked to https://github.com/chaoss/wg-common/blob/master/focus-areas/who/contributors.md

** Known Confounds **
This should be a level-3 header, and maybe another word could be used? Confounds is not a commonly used term.

"Provides" in the last paragraph is mi

[2020-01-13 21:12] germonprez commented on #76
Remove the '8' on references

8. References

[2020-01-13 21:13] germonprez commented on #80
'Resources' should be 'References'

[2020-01-14 15:42] sgoggins commented on #80
Fixed.

[2020-01-14 16:23] sgoggins commented on #75
@tommens and @germonprez : That looks like draft language that got through our edits. At one point it was a more fully described example. Instead of replacing the old, longer example, I put in a short description of the objectives in more general terms. Let me know what you think.

[2020-01-14 16:31] sgoggins commented on #73
@bproffitt : Take a look at the edits. I addressed each of your points. I think adding the link is helpful. @klumb and @germonprez may or may not like there being a link. IMHO its not something that is going to be common in the metrics definitions, but in this case, since we are explicitly distinguishing between this metric and another one (committers) I think the link adds usability to the defini

[2020-01-14 16:42] bproffitt commented on #73
Looks good to me!

[2020-01-14 16:45] klumb commented on #73
@sgoggins, I can't speak for @germonprez, but I like the link.

[2020-01-20 15:11] kestewart commented on #80
Looks good to me.

[2020-01-20 15:16] kestewart commented on #79
Reviewed, and with addition of sentence discussed in the meeting,  looks good to me.

[2020-01-20 15:19] germonprez commented on #78
@Nebrethar what is the License Notes column?

[2020-01-20 15:20] kestewart commented on #78
Please provide the definition or remove it from this draft.    Rest looks good.

[2020-01-20 15:25] kestewart commented on #77
Add clarification that the licenses recognized are based on what the scanners can extract.

[2020-01-20 15:27] kestewart commented on #76
This is redundant with the other ones,  not seeing strong value for providing this at this time.

[2020-01-20 15:28] germonprez commented on #76
Could be used as a filter in other License-related metrics. Suggest to not include in the next release.

[2020-01-20 15:32] kestewart commented on #75
From  "Open source code coverage tools for common languages like Java, C, and C++ are available **from my sites**, including this one."     Fix reference to "from my sites".     Would like to see sample implementations.   Image does explain visualizations - like the others.

[2020-01-20 15:33] germonprez commented on #75
Remove the data model and provide a description of the visualization

[2020-01-20 15:35] germonprez commented on #75
C, Java, and Python could be the first candidates for deployment

[2020-01-20 15:41] germonprez commented on #74
Include timescale as a filter

[2020-01-20 15:42] kestewart commented on #74
FIx "parameterized filter" to be percentage of contribution as well.

[2020-01-20 15:45] kestewart commented on #73
"known confound" is a bit awkward.

Suggest also removing modeling information, and add illustration of it in use.

[2020-01-21 18:55] germonprez commented on #81
@sgoggins could you provide some insight on changes in Risk for this release:

Any focus area restructuring?
New metrics for this release?
Any other big changes?

[2020-01-25 15:33] klumb opened #87 "Bill of materials metric"
@sgoggins @germonprez

This metric was part of the previous release but is not part of the current release. It wasn't on the spreadsheet.

https://github.com/chaoss/wg-risk/blob/master/metrics/Software_Bill_of_Materials.md

It seems to be similar to the SPDX metric that is in progress for future releases.

Are we rolling this back? It didn't go through the second review period but did make it thro

[2020-01-25 15:36] klumb commented on #80
I am marking this as ready to release and closing the issue. Please reopen if that is not the case.

[2020-01-25 15:36] #80 closed

[2020-01-25 15:42] klumb commented on #79
I am marking this as ready for release and closing. Please reopen if that is not the case.

[2020-01-25 15:42] #79 closed

[2020-01-25 15:46] klumb commented on #78
Does PR #84 fully address this?

[2020-01-25 15:51] klumb commented on #78
Sorry, the above mention is not connected to this metric. It is connected to coverage.

Is this metric ready for release?

[2020-01-25 15:52] klumb commented on #77
The PR appears to resolve @kestewart comment.

I am marking this metric as ready for release and closing. Please reopen if that is not the case.

[2020-01-25 15:52] #77 closed

[2020-01-25 15:55] klumb commented on #76
Is this metric ready for release?

[2020-01-25 15:56] klumb commented on #75
Is this metric ready for release?

[2020-01-25 15:59] klumb commented on #73
Did PR #86 resolve all comments?

Is this metric ready for release?

[2020-01-25 16:02] klumb commented on #74
LGTM

[2020-01-25 16:03] klumb commented on #74
Did PR #85 resolve all comments?

Is this metric ready for release?

[2020-01-25 16:12] sgoggins commented on #75
I am addressing this now.

[2020-01-25 16:16] sgoggins commented on #78
@klumb : reviewing.

[2020-01-25 16:17] sgoggins commented on #78
@klumb : Ready for release.

[2020-01-25 16:19] sgoggins commented on #76
@klumb We are not going ot release this metric. we will implement it as a filter on the more broadly construed license enumeration metric in a future release.

[2020-01-25 16:20] sgoggins commented on #75
@klumb : Ready for release.

[2020-01-25 16:22] sgoggins commented on #74
@klumb : This metric is ready for release.

[2020-01-25 16:23] sgoggins commented on #73
Yes.  This metric is ready for release, @klumb

[2020-01-25 16:33] klumb commented on #78
I am marking this metric as ready for release and closing. Please reopen if that is not the case.

[2020-01-25 16:33] #78 closed

[2020-01-25 16:35] klumb commented on #76
Thanks!

Okay, I am leaving it open.

[2020-01-25 16:36] klumb commented on #75
I am marking this metric as ready for release and closing. Please reopen if that is not the case.

[2020-01-25 16:36] #75 closed

[2020-01-25 16:36] klumb commented on #74
I am marking this metric as ready for release and closing. Please reopen if that is not the case.

[2020-01-25 16:36] #74 closed

[2020-01-25 16:37] klumb commented on #73
I am marking this metric as ready for release and closing. Please reopen if that is not the case.

[2020-01-25 16:37] #73 closed

[2020-01-25 17:21] GeorgLink commented on #87
I seem to remember that the metric was depreciated in favor of the more precise SPDX metric.

[2020-01-26 13:53] germonprez commented on #81
@sgoggins could you provide a bit of insight here? I need these notes for the next metrics release.

[2020-01-26 14:53] sgoggins commented on #81
@germonprez yep. Coming right up!

[2020-01-26 15:07] sgoggins commented on #81
# January 2020 Risk Working Group Release Notes
This release focuses on increasing metrics coverage in the general areas of CNCF Core Infrastructure badging and licensing.  The risk working group released the following new metrics, in addition to those released in July, 2019.
1. OSI Approved Licenses
2. Licenses Declared
3. Test Coverage (Update)
4. Elephant Factor
5. Committers

All Metrics were

[2020-01-26 17:48] germonprez commented on #81
Thanks

[2020-01-26 17:48] #81 closed

[2020-01-26 19:54] klumb commented on #87
I don't currently have it as part of the release.
If it is depreciated, we need to add a comment to the release notes.

[2020-01-28 17:44] sgoggins commented on #87
A replacement metric has been put here: https://github.com/chaoss/wg-risk/blob/master/metrics/SPDX_Document.md

The following message was sent to the mailing list

---
Hi All,

During the weekly call today we discussed removing the Software Bill of Materials metric from the 2020-1 release to be published on January 31, 2020. The discussion noted that the removal of this metric is for sound reasons

[2020-01-28 18:17] GeorgLink commented on #87
Thanks @sgoggins for moving this forward.
I am okay with including the metric in the release.

1. The **Filters** section does not include filters to be used on the metric but instead is an example of someone using a specific tool (covered again in next section) and shows the example output. This content needs to either move somewhere else or, more likely, the section needs to be removed.

2. "SBO

[2020-01-28 22:29] germonprez commented on #87
For the new metric.

1) Under Tools Providing the Metric, the following don't make sense to me:

Packages

Package_Files

Files (which may be, but are unlikely to be also included in other packages). License information is included as part of an SBOM, but the complexity of license identification is clarified in the License_Count, License_Coverage, and License_Declared metrics.

2) Under the same h

[2020-01-30 21:29] GeorgLink commented on #87
With CHAOSScon and the release tomorrow, I don't think we can get this metric in. As with several other metric ideas, happy to include it in the next release.

[2020-03-26 16:59] king-gao opened #90 "new metrics in risk-security"
Toady more and more OSS is integrated from others oss component. I see license conflict is already in license metrics section, In addition, vulnerabilities are one of the important indicators of security.

So , in this scenario ，can we metric the project vulnerabilities Complete and accurate.
we can through SBOM to find the vulnerabilities from the OSS project be integrated,and check are every vul

[2020-03-27 11:10] germonprez commented on #90
Thanks @king-gao @sgoggins can give some insight on this. I think this is something that we can cover with Augur but not sure how robust it is at the moment.

[2020-03-27 11:29] king-gao commented on #90
Maybe we can use SBOM(the project OSS lists),we can sum the total vulnerabilities and dif with the project vulnerabilities:)

[2020-03-27 12:04] germonprez commented on #90
The challenge that I always run into with vulnerabilities is how to discover them. The NIST NVD is deep but determining CPEs to find the vulnerabilities always proves to be a challenge.

[2020-03-31 18:48] germonprez opened #92 "Asia Pacific Meeting"
Hi @king-gao I don't know your email address so I'll ping you here on GH. Could you give me a few times that could work on your end to which we could set-up a CHAOSS meeting for you and some colleagues? Thanks!

[2020-03-31 20:18] GeorgLink commented on #92
Michelle Mannering from Australia may also be interested in such a meeting.

[2020-04-01 01:28] king-gao commented on #92
Dear Matt and Georg:

Thank you for contact me. My email is king.gao@huawei.com<mailto:king.gao@huawei.com> , you can direct connect me by this address.

Please give me some time, I will ask my college,some universities , other Chinese companies and organizations. I will cocrdinate their schedule and consider your time☺

PS: I must make sure your time is American pacific time, is that right?

Best

[2020-04-01 11:15] germonprez commented on #92
Certainly! I'll send you an email.

[2020-04-28 08:09] king-gao commented on #92
After twice meeting and we adjust the time to fit more and more person:
The Asia Pacific Meeting new schedule is bi-weekly Wednesday: next meeting is May 6 at 8am US Central // 1pm UTC // 9pm in Beijing.

[2020-04-28 13:13] GeorgLink commented on #92
That's great. Are you using the CHAOSS Zoom room or meeting elsewhere?

[2020-04-28 14:04] germonprez commented on #92
I was going to bring this up in the community call today and then send the announcement.

Hi everyone,

I wanted to let you know that we will be now have an Asia-Pacific CHAOSS Community Call. Details for the call are here:

WednesdaysEvery Two Weeks
8am US Central // 1pm UTC // 9pm in Beijing - Singapore
Next Meeting: May 6, 2020Connection Details: Same as all CHAOSS calls
https://unomaha.zoom.us

[2020-04-28 14:33] king-gao commented on #92
hi Georg.,
Of course , we can you zoom ,and  thanks Matt book the meeting source.
May be the guys who from Australia,Japan,Korean can join us together:)

[2020-05-11 06:11] tharun143 commented on #42
@klumb I would like to know more about this issue and want to contribute to it. @klumb can you explain to me more about the issue. I would like to learn more about the Elephant factor and what it is?

[2020-05-11 10:55] germonprez commented on #42
Hi @tharun143 -- The metric is posted here:

https://chaoss.community/metric-elephant-factor/

You can get some more information about the metric that way.

[2020-05-11 14:08] klumb commented on #42
I think this is an old issue that needs to be closed. This work was done as part of the first metrics release.

Thanks @tharun143

[2020-05-11 14:08] #42 closed

[2020-05-19 02:50] king-gao commented on #92
Hi everyone：

Welcome to join Asia-Pacific CHAOSS Community Call tomorrow. The meeting link is in Matt’s email.

If you have any topic to discuss, please send me a email.

Regards
King

发件人: Matt Germonprez [mailto:notifications@github.com]
发送时间: 2020年4月28日 22:05
收件人: chaoss/wg-risk <wg-risk@noreply.github.com>
抄送: Gaokun (King) <king.gao@huawei.com>; Mention <mention@noreply.github.com>
主题: Re: [

[2020-05-19 13:21] GeorgLink opened #97 "RISCOSS"
https://github.com/RISCOSS

Hi just learned about this research project. May be a bit dated, but maybe there are some ideas worth recovering for the Risk WG.

Sorry if you already knew about this and I'm just trailing behind.

[2020-05-28 15:17] vinodkahuja opened #98 "Metric Idea: Planning metric"
Goal is to evaluate whether open source project has systematic plan for work they do or they just do on ad hoc basis. For example some projects have plans and goal and they develop software and add features as planned in their planning document. As with corporate involvement many open source are performing very planned actives. Where as other open source projects just adding features on ad hoc bas

[2020-06-04 14:22] germonprez commented on #87
@sgoggins what is the state of affairs on this metric?

[2020-06-24 16:02] klumb opened #100 "Release Notes"
This issue was created to capture the continuous release notes. Insight from comments will be used to create the regular release note.

Example comments could be:

    name of new metric and date of release
    descriptions of changes to existing metric
    Changes to focus areas or restructuring of WG

[2020-06-27 13:15] GeorgLink commented on #46
I agree that the formula is wrong. The description is correct. The formula describes how to get 1/2 of all contributing organizations, not the Elephant Factor.

[2020-06-30 17:25] foundjem commented on #46
Hello @alpgarcia, thanks for spotting out the error. Your rationale looks good to me, can you also state an arbitrary equation for computing the EF with any given company and commits? To make things consistent.

Signed-Of-By: Armstrong <foundjem@ieee.org>

[2020-07-01 16:46] alpgarcia commented on #46
@foundjem did you see my PR (https://github.com/chaoss/wg-risk/pull/101)?

I included the way of computing it step by step.

Please feel free to review it! :)

[2020-07-01 20:29] GeorgLink commented on #100
I would appreciate if we could include the fix to the elephant factor in the next release #101

[2020-07-01 20:37] klumb commented on #100
@GeorgLink this release?

[2020-07-01 20:37] GeorgLink commented on #100
yes, this release, sorry.

[2020-07-01 20:41] klumb opened #102 "Release Candidate Comments (Elephant Factor)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about Elephant Factor

GitHub location: https://github.com/chaoss/wg-risk/blob/master/metrics/Elephant_Factor.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202008/

[2020-07-01 20:41] klumb commented on #102
PR edit was #101

[2020-07-01 20:43] klumb commented on #100
issue #102 will collect comments for Elephant factor - need to add the disclaimer to the metric markdown.

[2020-07-02 14:29] foundjem commented on #102
LGTM after correcting the formula for computing the  Elephant Factor.

Signed-off-by: Armstrong <foundjem@ieee.org>

[2020-08-07 18:18] klumb commented on #102
@sgoggins can this be closed?

[2020-08-07 18:50] sgoggins commented on #102
@klumb : Yes.

[2020-08-07 18:50] #102 closed

[2020-08-07 18:51] sgoggins commented on #100
@klumb : Remind me about the disclaimer ...

[2020-08-07 18:52] sgoggins commented on #87
@klumb : This metric is one that we released last summer, and it is not clear to me why it was ever "unreleased" ... @germonprez @GeorgLink

[2020-08-08 14:22] GeorgLink commented on #64
Thanks @Nebrethar !

https://github.com/chaoss/wg-risk/blob/master/metrics/SPDX_Document.md

[2020-08-08 14:22] #64 closed

[2020-08-08 18:04] klumb commented on #87
There is some confusion around this metric. My understanding was that the SPDX metric was replacing this metric. Considerable work was done to edit the SPDX metric and it looks like it is ready for review. Unfortunately, the SPDX metric was missed in this last release so it hasn't been through any comment period.  To resolve this issue I have marked the SPDX as under review on the tracking sheet.

[2020-08-08 18:07] klumb opened #106 "CC Release Candidate - SPDX Document"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about SPDX Document

GitHub location: https://github.com/chaoss/wg-risk/blob/master/metrics/SPDX_Document.md

See all released and candidate metrics at:
https://chaoss.community/metrics/

[2020-08-08 18:10] klumb commented on #106
This metric is replacing a previously released metric - Software Bill of Materials
https://github.com/chaoss/wg-risk/blob/master/metrics/Software_Bill_of_Materials.md

Scheduled to be released for 2021-02

[2020-08-08 18:11] #87 closed

[2020-08-08 19:29] klumb commented on #100
Closing for release 2020-08

[2020-08-08 19:29] #100 closed

[2020-08-08 19:30] klumb opened #108 "Release Notes - 2021-02"
This issue was created to capture the continuous contribution notes. Insight from comments will be used to create the regular release note.

Example comments could be:

name of new metric and date of release
descriptions of changes to existing metric
Changes to focus areas or restructuring of WG

[2020-08-08 19:35] klumb commented on #108
SPDX Metric
GitHub location: https://github.com/chaoss/wg-risk/blob/master/metrics/SPDX_Document.md
https://github.com/chaoss/wg-risk/issues/106

Live on the website - 08--08-2020

[2020-08-12 13:26] sgoggins commented on #106
@klumb : This change went through a review period and discussion, and I don't think it needs to be listed as under review.

[2020-08-12 14:20] klumb commented on #106
@sgoggins I can't find evidence that this metric has ever been released or gone through the review process. It was not included on the spreadsheet in the previous release so was not on the website. There was no announcement or issue created to collect comments.

According to the documentation I saw, It should have been released and gone through the comment period for 2020-08 but we dropped the bal

[2020-11-10 21:23] emmairwin opened #111 "Adding ClearlyDefined"
I know with other metrics we propose tools, suggest adding https://clearlydefined.io/about

[2020-11-18 07:25] king-gao opened #112 "Add new metrics--nomalize one version : How many versions of one opensource compoent do you adopt in your project?"
As we know , open source components are intergret in many project, when we use the open source components , maybe some project intergret **more than one different versions of one component**. In this situation,there are some security issues :
-  **Security** :when there is vulnerability public, we need to fix them many times, because there are many versions have the same vulnerability;
-  **User e

[2020-12-21 12:42] MohitPatni0731 commented on #112
Can I work on this issue

[2020-12-21 12:47] germonprez commented on #112
Thanks for your interest @MohitPatni0731. Certainly, you can help. I'm not sure if you have been following how we make metrics but understanding the workflow might help a bit. In the project, we are on a bit of a break because of the holidays. We will resume our work more consistently in 2021.

[2020-12-21 13:12] MohitPatni0731 commented on #112
Actually I've just started my journey in Computer Science and in past few days I'm finding Open source organisation which matches with my skills. So one day I came to know about Chaoss and I find it very interesting as this organization has great vision regarding community health.
Till now I have expertise in Python, HTML, CSS and JavaScript.
So can you suggest or provide me further information ab

[2020-12-21 13:47] germonprez commented on #112
Hi @MohitPatni0731 I might suggest you check out one of the CHAOSS software: Augur

https://github.com/chaoss/augur

This is a piece of software that uses Python in ways to collect and display data that helps in the discovery of open source community health. I'm also tagging @sgoggins who manages the Augur team.

[2020-12-21 13:53] MohitPatni0731 commented on #112
Thanks @germonprez for your help

[2020-12-21 13:54] MohitPatni0731 commented on #112
Can I work on this project (Metrics) also  ?

[2020-12-21 14:07] germonprez commented on #112
Of course. You are welcome to contribute wherever you are comfortable.

On Mon, Dec 21, 2020 at 7:54 AM Mohit Patni <notifications@github.com>
wrote:

--
Mutual of Omaha Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
CV: https://bit.ly/2kftONr

CHAOSS Board Member
https://chaoss.community/
matt@chaoss.community

he / him / his

[2020-12-21 15:28] king-gao commented on #112
hi， @MohitPatni0731 . Of course we are welcome you can join us .
If  you are interesting in metrics ,there are many work group , for example risk ,common,evolution,value,D&I,APP ECO , ect.
If you are interesting in coding, there are also some tools, as @germonprez mentioned, Augur is a good choise.
And if you are interesting this issue , you can talk with us :)

[2020-12-21 15:32] MohitPatni0731 commented on #112
Thanks for the advice @king-gao

[2021-01-31 12:44] germonprez commented on #108
Adding Bus Factor:
https://github.com/chaoss/wg-risk/blob/master/metrics/Bus_Factor.md

This goes into the latest release

[2021-01-31 12:45] germonprez opened #114 "Metrics Release Candidate - Bus Factor"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about Bus Factor

GitHub location: https://github.com/chaoss/wg-risk/blob/master/metrics/Bus_Factor.md

See all released and candidate metrics at:
https://chaoss.community/metrics/

[2021-02-02 21:21] #2 closed

[2021-02-02 21:22] germonprez commented on #2
This is done

[2021-02-02 21:22] germonprez commented on #92
Closing this issue as we now have an Asia Pacific call. Thanks everyone!

[2021-02-02 21:22] #92 closed

[2021-02-02 21:23] #1 closed

[2021-02-02 21:24] germonprez commented on #3
Done.

[2021-02-02 21:24] #3 closed

[2021-02-02 21:27] germonprez commented on #46
Fixed via #101

[2021-02-02 21:27] #46 closed

[2021-02-02 21:28] germonprez commented on #98
@vinodkahuja do you have thoughts on how to move this forward?

[2021-02-02 21:29] germonprez commented on #97
The repo seems pretty dead :)

[2021-02-02 22:16] vinodkahuja commented on #98
@germonprez my initial thought was to check whether an open source project has a planning document or not. Planning documents can be in various forms like our CHAOSS planning document of  [metric](https://docs.google.com/spreadsheets/d/1tAGzUiZ9jdORKCnoDQJkOU8tQsZDCZVjcWqXYOSAFmE/edit#gid=605223194) or [AGL Road map](https://wiki.automotivelinux.org/agl-roadmap). These documents guide the activiti

[2021-02-03 12:15] germonprez commented on #98
Okay. I've labeled it as a metric idea.

The idea seems difficult to determine but that shouldn't preclude taking a closer look. Yes, if you want to create a template and put it in the spreadsheet, that would be great.

[2021-02-03 12:17] germonprez commented on #76
@sgoggins is this now an appropriate filter in other metrics?

[2021-02-03 12:18] germonprez commented on #111
As per a comment from @GeorgLink:

The ClearlyDefined project defined a "License Clarity" metric, that we can incorporate in CHAOSS.

https://github.com/clearlydefined/license-score/blob/master/ClearlyLicensedMetrics.md

I would not copy this design page 1-to-1, but create a short summary to be included in CHAOSS and then link for the implementation details to ClearlyDefined.

[2021-02-03 12:19] germonprez commented on #72
Closing as capturing now in #111

[2021-02-03 12:19] #72 closed

[2021-02-03 12:20] germonprez commented on #13
@GeorgLink does GL provide these visualizations? Would it be worth adding in this next release?

[2021-02-03 12:24] germonprez commented on #52
Adding this to the Feb 3, 2021 Risk WG agenda.

[2021-02-03 12:32] GeorgLink commented on #13
Here is the visualization: https://chaoss.github.io/grimoirelab-sigils/panels/colic/

I don't think we have it deployed anywhere

[2021-02-03 12:36] germonprez commented on #13
Ok. How do you want to handle this from the GL side of things? If this is still on the roadmap, perhaps we can wait until it is officially deployed.

[2021-02-03 12:43] GeorgLink commented on #13
I'm okay either way.
License information in GrimoireLab would only advance with someone in the
community picking it up.
It is not on Bitergia's roadmap.

[2021-02-03 12:45] germonprez commented on #13
Sounds good. In an effort to manage issues, I'm going to close this as it appears to have an indefinite end date. Easy enough to reconsider if things change in the future.

[2021-02-03 12:45] #13 closed

[2021-02-03 17:16] friyaz opened #117 "Standardize working groups repositoryoy structure"
Hello everyone,

We are trying to make a standard and uniform repository structure for all working groups of CHAOSS. This will make things easier for new members. See this [document](https://docs.google.com/document/d/1chPzgJa49sO_f3wVqp_NLJupSVyKHSVyuFuwzl4m4KI/edit#) to know details about the proposed repo structure.

Please provide your feedback or concern about this proposal.

[2021-02-04 20:20] germonprez opened #118 "New Metric: Upstream Code Dependencies"
This issue is created to collect comments about the rolling release of "Upstream Dependency Count"

This metric can be found here: https://github.com/chaoss/xxxxxxx/xxxxxxx/xxxxxxx.md

 https://docs.google.com/document/d/1cOYmEdPBJWIJMMNcNVaqGcUBo6oaXAAvb8DmgNb8Z2k/edit

See all release candidates: https://chaoss.community/metrics/

## CHAOSS Metric Quality Checklist
This checklist is used for new

[2021-02-04 20:22] germonprez opened #119 "New Metric: Downstream dependency count"
Development of a new metric: https://docs.google.com/document/d/1JVGLXpGA-_SgPQlKb5z9uFvMhUrrhtMGV51xH-3eIFc/edit

[2021-02-04 20:27] germonprez opened #120 "New Metric: Infrastructure Dependency Count"
Metric Google Doc at: https://docs.google.com/document/d/1Wx1s1O97Scsa1EbaD01jqCMqqZnfg3T1OywXCfegKSY/edit

[2021-03-06 16:14] GeorgLink commented on #17
The `License Count` Metric is a mystery to me.

1. It was never released.
2. The Metrics tracking sheet lists it as "moved" and includes a question where it was moved to.
3. The release issue here was closed before the last release, but without explanation.
4. The metric still exists in this repo.

Did we not push this metric because it can be implemented as a filter or parameter on other metrics

[2021-03-06 16:26] GeorgLink commented on #76
Yes, license count is included in metric `Licenses Declared`.

[2021-03-06 16:26] #76 closed

[2021-03-06 16:27] GeorgLink commented on #17
#76 -- discussed and resolved

[2021-03-06 16:27] #17 closed

[2021-03-06 16:28] klumb opened #121 "Release Notes 2021-09"
This issue was created to capture the continuous contribution notes. Insight from comments will be used to create the regular release notes.

Example comments could be:

name of new metric and date of release
descriptions of changes to existing metric
Changes to focus areas or restructuring of WG

[2021-03-06 16:57] klumb commented on #106
closing for release 2021--3

[2021-03-06 16:57] #106 closed

[2021-03-06 16:58] klumb commented on #108
Closing for release 2021-03

[2021-03-06 16:58] #108 closed

[2021-03-06 16:59] klumb commented on #114
Closing for release

[2021-03-06 16:59] #114 closed

[2021-03-31 19:38] ritik-malik opened #125 "Old metrics"
This issue is to address the PR #124 ,

The number of metrics in the [metrics](https://github.com/chaoss/wg-risk/tree/master/metrics) folder and the number of metrics finalized in the [focus-areas](https://github.com/chaoss/wg-risk/tree/master/focus-areas) are unequal.
The [metrics](https://github.com/chaoss/wg-risk/tree/master/metrics) directory contains 2 additions metrics:
1. [OSI Approved Lice

[2021-04-01 19:57] GeorgLink commented on #125
Thanks for bringing this up during the Risk WG call today.

These two metrics are part of the [Licensing](https://chaoss.community/metrics/#user-content-focus-area---licensing) focus area. Can you please move them there?

If in doubt, the [Metrics Website](https://chaoss.community/metrics/#user-content-risk) is the authoritative source of which focus area metrics should be in, because that's what

[2021-04-01 20:11] ritik-malik commented on #125
Thanks for the reply @GeorgLink,
I'll do the suggested changes

[2021-04-02 13:26] GeorgLink commented on #125
This is addressed in #124

[2021-04-06 15:19] germonprez opened #126 "SPDX Document metric on showing"
https://chaoss.community/metric-spdx-document/

The SPDX Document metric is not showing on the webpage.

[2021-04-06 15:20] germonprez opened #127 "Bus Factor metric now showing"
https://chaoss.community/metric-bus-factor/

The Bus Factor metric is not showing on the webpage.

[2021-04-06 15:51] klumb commented on #127
Please clear your cache and check again. This was resolved on website.

[2021-04-06 15:52] klumb commented on #126
Please clear your cache and check again. This was resolved on the website.

[2021-04-06 15:56] #126 closed

[2021-04-06 15:56] #127 closed

[2021-04-08 12:15] ritik-malik commented on #125
I think we can close this issue now,
#124 resolved this

[2021-04-08 12:15] #125 closed

[2021-04-16 17:07] yash2002109 opened #128 "Standard Structure for README.md in each WG repo"
Hi everyone,

While standardizing the repositories, I noticed that the [README](https://github.com/chaoss/wg-risk/blob/master/README.md) file of each working group has a different structure. After discussing with @GeorgLink, I have drafted a proposal for a common structure that can be implemented across these README files. I have also replicated the same as a [template](https://github.com/yash2002

[2021-08-04 14:43] vinodkahuja commented on #118
For review metric and be found at https://github.com/chaoss/wg-risk/blob/master/focus-areas/dependency-risk-assessment/upstream-code-dependencies.md

[2021-08-20 15:15] GeorgLink commented on #128
@yash2002109 , can you please take a look at the repo and let us know here if there is anything still missing before we can close this issue?

[2021-08-20 16:00] yash2002109 commented on #128
Thanks, @GeorgLink,

In discussion with WGs, we decided to remove the meeting details from the README and redirect the user to the Participate section on the website. We also discussed with the community to add the `Chairs` instead of WG-maintainers.

Also, please refer to the template: https://docs.google.com/document/d/1pfipIiaemdtdiDQpvY7jOKhKzsv_3lXLLsbJiByl5GU/edit
to make sure the order in w

[2021-08-20 16:06] GeorgLink commented on #128
Thanks @yash2002109 , we'll leave this issue open for the WG to address in their own time 👍

[2021-08-26 03:29] li-clement opened #136 "New Metric: Community crisis management ability"
Many communities have encountered their own Tylenol Moment more or less. For example, Microsoft has almost failed the xbox brand because of the Red Ring of Death. The relationship between the community and developers may be negatively affected for various reasons. We need to assess whether the community is flexible enough to make up for the mistakes we have made through our own efforts.

I think w

[2021-08-26 20:23] sgoggins opened #138 "New Metric: Libyear"
This issue is created to collect comments about the rolling release of "Libyear"

This metric can be found here: https://github.com/chaoss/wg-risk/blob/master/focus-areas/dependency-risk-assessment/libyear.md

See all release candidates: https://chaoss.community/metrics/

## CHAOSS Metric Quality Checklist
This checklist is used for new and updated metrics to ensure we follow CHAOSS quality standa

[2021-09-01 16:14] klumb commented on #138
Please double-check that the naming convention for this metric is correct and the same in all locations.

**I see:**
Libyear
Libyears
Libyear of Dependencies

The name should be consistent and the file name should match the full name of the metric.

If a change is made to the filename, please tag me so that I can make the change on the website.

[2021-09-01 16:16] klumb commented on #121
New Focus Area - Dependency Risk Assessment

[2021-09-01 16:17] klumb opened #141 "New Focus Area: Dependency Risk Assessment"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about Dependency Risk Assessment

See all release candidates: https://chaoss.community/metrics/

[2021-09-01 16:18] klumb commented on #141
@sgoggins this is new for this release - correct?

[2021-09-16 18:19] GeorgLink opened #142 "Allowed vs not allowed licenses"
At the OSI's Practical Open Source Information event, I learned about the [Blue Oaks Council](https://blueoakcouncil.org/), which provides legal advice.

One of the resources they provide is an [Approved License List](https://blueoakcouncil.org/list).

I would like some thoughts: Would this be a separate metric? Would this be a filter on an existing metric?

Filter option: Maybe add this to the [L

[2021-09-22 01:52] robekeane commented on #136
@GeorgLink, thanks for your comments, of course, Discourse moderator feature is a good case. Actually when we talk about community moderator, we usually need notice the message tracking system, the community manager can use it for audit improper content that may violate Code of Conduct.

For No.3, blockchain can be used for recording community news, issues, comments and so on without worrying abou

[2021-09-22 20:51] GeorgLink commented on #136
Interesting!

To "put pen to paper" and make some progress, here is a google doc that we can work in to start describing the metric and how to implement it:

* https://docs.google.com/document/d/1TTkT3uALvGxoXE1I5XSeM3Yp7hZxxRfdZj0-eU2Z-k8/edit#

I copy-pasted the description from above as a starting point, it probably could use some editing and additional detail in other sections.

[2021-09-28 20:19] lucasgonze commented on #118
What can we do to get this added to the website? @klumb

[2021-09-28 20:30] klumb commented on #118
Hmmm, I am seeing it on the website @lucasgonze

Is it possible you just missed it?

[2021-09-28 20:45] lucasgonze commented on #138
I had a hard time understanding the metric based on the writing of the question: "Question: What is the age of the project’s dependencies compared to current stable releases?"  Introducing the purpose of the metric would communicate more clearly: "How much risk is there from out-of-date dependencies?"

[2021-10-05 12:58] GeorgLink opened #143 "Visualization broken in OSI Approved Licenses on Website"
The released OSI Approved Licenses metric has a broken visualization:

https://chaoss.community/metric-osi-approved-licenses/

[2021-10-05 12:59] GeorgLink opened #144 "Visualization broken in License Declared"
The released License Declared metric has a broken visualization:

https://chaoss.community/metric-license-declared/

[2021-10-05 13:00] GeorgLink opened #145 "Visualization broken in License Coverage"
The released License Coverage metric has a broken visualization:

https://chaoss.community/metric-license-coverage/

[2021-10-05 16:50] GeorgLink opened #146 "Change default git branch to 'main'"

[2021-10-05 16:52] GeorgLink commented on #146
Done

![Screen Shot 2021-10-05 at 11 51 36 AM](https://user-images.githubusercontent.com/8862021/136067658-281d6d16-7264-4d4b-bbe6-7878722760b9.png)

[2021-10-05 16:56] GeorgLink commented on #146
This broke the website:
chaoss/website#669

Waiting for website to update.

[2021-10-09 23:46] GeorgLink commented on #146
This issue can be closed when the WG discussed the change during a meeting.

[2021-10-16 17:22] klumb commented on #145
fixed

[2021-10-16 17:22] #145 closed

[2021-10-16 17:22] klumb commented on #143
fixed

[2021-10-16 17:22] #143 closed

[2021-10-16 17:24] klumb commented on #138
@sgoggins Is this ready for release?

[2021-10-16 17:25] klumb commented on #118
Closing for release

[2021-10-16 17:25] #118 closed

[2021-10-17 16:23] ritik-malik opened #147 "Reducing focus-area name size: business-risk"
Hi,
Currently the focus-area [business-risk](https://github.com/chaoss/wg-risk/tree/main/focus-areas/business-risk) contains a large question in bracket. While testing the metric release in MARS, the focus-area heading for this was overflowing off the page.

Would there be any possible workaround to shift the text in bracket somewhere else, like lets say in the focus-area goal or below the metric

[2021-10-17 22:32] #147 closed

[2021-11-30 17:55] lucasgonze opened #150 "Stale text in wg-risk README"
The "Goal" section says "Between March 2019 and September 2019 we will execute a launch plan with limited goals." This should either be updated to reflect the current date or be deleted.

![image](https://user-images.githubusercontent.com/111581/144101377-d13ce27a-b1b1-4a9a-9c26-bb328b08c21b.png)

[2021-11-30 17:58] sgoggins commented on #150
@lucasgonze : I tidied it up temporarily now and will raise this issue in our next meeting.

[2021-12-04 15:24] germonprez opened #153 "Repository Clean Up"
Hi everyone,

I've been updating the speadsheet that we use to track the develop and release of CHAOSS metrics. I recommend that the DEI WG take on the following tasks to get the work in the repository aligned with the speadsheet and how the other WGs work.

Spreadsheet is available at: https://docs.google.com/spreadsheets/d/1tAGzUiZ9jdORKCnoDQJkOU8tQsZDCZVjcWqXYOSAFmE/edit#gid=0

Ultimately, the

[2022-02-24 17:11] vinodkahuja opened #154 "Release Notes 2022-04"
This issue was created to capture the continuous contribution notes. Insight from comments will be used to create the regular release notes.

- Rename “CII Best Practices Badge” metric to “OpenSSF Best Practices Badge” metric

[2022-02-27 18:17] vinodkahuja opened #156 "New Metric: Defect Resolution Time"
This issue is created to collect comments about the rolling release of  Defect Resolution Time metric

This metric can be found here: https://docs.google.com/document/d/1ah1P1auN8Xtd83RJCa4BPr58khoHlXwapSik8nE1KFQ/edit

https://github.com/chaoss/wg-risk/blob/main/focus-areas/code-quality/defect-resolution-time.md

See all release candidates: https://chaoss.community/metrics/

## CHAOSS Metric Qual

[2022-02-27 18:44] vinodkahuja commented on #154
Add new metric defect resolution time

[2022-03-02 20:58] klumb commented on #156
the synonym is a little off. May want to edit for clarity - maybe Bug Resolution Time rather than just Bug.

Also no need for a period following the synonym

[2022-03-02 23:26] germonprez commented on #156
@vinodkahuja can you take this?

[2022-04-10 19:51] klumb opened #160 "Empty metric - please delete or move towards review"
https://github.com/chaoss/wg-risk/blob/main/focus-areas/business-risk/average-issue-resolution-time.md

[2022-04-10 19:53] klumb commented on #160
https://github.com/chaoss/wg-risk/blob/main/focus-areas/business-risk/issues-open-age.md

[2022-04-10 19:54] klumb commented on #160
https://github.com/chaoss/wg-risk/blob/main/focus-areas/business-risk/issues-volume.md

[2022-04-10 19:54] klumb commented on #160
https://github.com/chaoss/wg-risk/blob/main/focus-areas/business-risk/lines-of-code.md

[2022-04-10 19:54] klumb commented on #160
https://github.com/chaoss/wg-risk/blob/main/focus-areas/code-quality/code-complexity.md

[2022-04-10 19:57] klumb commented on #160
https://github.com/chaoss/wg-risk/blob/main/focus-areas/code-quality/pull-request-process.md

[2022-04-10 20:03] klumb commented on #160
https://github.com/chaoss/wg-risk/blob/main/focus-areas/security/language-declaration-readme.md

[2022-04-10 20:04] klumb commented on #160
https://github.com/chaoss/wg-risk/blob/main/focus-areas/security/language-source-proportion.md

[2022-04-10 20:18] klumb opened #161 "Question - SPDX Document and Software Bill of Material metrics"
Do we want both of these metrics published as part of the release?

I am asking this again because I notice that while they are similar, they exist in different focus areas.

When the SPDX Document metric was released, I was told that it was replacing Software Bill of Materials so we removed it from the release.

While Software Bill of Materials is not part of the release currently it had gone thr

[2022-04-12 15:06] germonprez commented on #160
For the record, our approach is to only work on new metrics in Google Docs. Only after we agree in GDocs do we move the metric to a markdown file here.

[2022-04-12 15:15] germonprez commented on #138
@sgoggins is this metric released? If so, can this issue be closed?

[2022-04-12 15:16] germonprez commented on #156
Is there a markdown file for this metric?

[2022-04-12 15:23] klumb commented on #156
here is the markdown file link (this should be at the top of the issue)

https://github.com/chaoss/wg-risk/blob/main/focus-areas/code-quality/defect-resolution-time.md

I made the edit when I added the data disclaimer link ;)

[2022-04-12 15:24] germonprez commented on #156
Got it!

On Tue, Apr 12, 2022 at 10:23 AM Kevin Lumbard ***@***.***>
wrote:

--

Mutual of Omaha Distinguished Chair of Information Science & Technology
Professor of Information Systems and Quantitative Analysis
College of Information Science & Technology
University of Nebraska Omaha
CV: https://bit.ly/2kftONr

Vice President
Omaha Parks Foundation

CHAOSS Board Member
https://chaoss.community/
**

[2022-04-12 15:29] #138 closed

[2022-04-12 15:30] klumb commented on #160
Thanks, @germonprez I should have provided more detail here.

[2022-04-17 15:39] #156 closed

[2022-05-11 05:02] TejasMate commented on #146
Should we close this issue after changing branch?

[2022-05-11 05:34] TejasMate commented on #146
Master branch should to be deleted as per mentioned in[ README file](https://github.com/chaoss/wg-risk/tree/master)

[2022-05-11 10:18] TejasMate commented on #153
Issues Solved:
Removed Language Declaration
Removed Language Source Proportion
Updated README - remove above metrics in table row (not deleted because of OpenSSF Best Practices metric)
Removed License Count and updated Licensing's README

Not solved:
update the spreadsheet to reflect any moved dependency metrics from Evolutiona

[2022-05-11 11:29] TejasMate commented on #153
@germonprez, **dependency metrics** going to move in Dependency Risk Assessment or need to create new dependency focus area in Risk spreadsheet

[2022-09-29 15:44] germonprez opened #167 "Suggestion to rename a metric"
[Defect Resolution Time](https://chaoss.community/metric-defect-resolution-time/)	to	Defect Resolution Duration

This comes from the Common WG who has been looking at how we represent 'time' in our metrics in a consistent way.

[2022-09-29 17:14] sophia-IV commented on #167
Im Ok with this change and generally supportive of consistent language

On Thu, Sep 29, 2022, 8:44 AM Matt Germonprez ***@***.***>
wrote:

[2022-10-06 18:12] sgoggins commented on #167
@germonprez : what is the process we are following to do this? I am unsure with website revisions if we should make the change or wait. @klumb ?

[2022-10-06 18:38] germonprez commented on #167
I believe that if it is not changing the nature of the metric, you can simply make the change without requiring any sort of review. The change should be reflected on the website.

[2022-10-06 18:43] klumb commented on #167
Agree, name changes that don't change the nature of the metric don't need a review. You may still want to document it in the release notes though. The name change will require a change on the website. Just let me know when the PR is accepted. Make sure that the name change is reflected in the header, file name, and all other places in the repo where the metric is referenced.